/separation_of_concern.xcodeproj/project.xcworkspace/xcuserdata/nitinsrivastav.xcuserdatad/IDEFindNavigatorScopes.plist
separation_of_concern.xcodeproj/xcuserdata/nitinsrivastav.xcuserdatad/xcschemes/xcschememanagement.plist